{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

    <div class="min-h-screen flex items-center justify-center py-12 px-4">
        <div class="max-w-md w-full space-y-8 bg-white p-10 rounded-2xl shadow-xl">
            
            <div>
                <img src="{% static 'logo.jpeg' %}" alt="Logo" class="mx-auto h-25 w-auto">
                <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">
                    Inventario Del Sabor costeño
                </h2>
            </div>
            
            <form class="mt-8 space-y-6" method="post">
                {% csrf_token %}
                
                {% if form.errors %}
                    <div class="p-4 bg-red-50 rounded-md">
                        <p class="text-sm font-medium text-red-700">
                            <strong>Error:</strong> Tu usuario o contraseña son incorrectos.
                        </p>
                    </div>
                {% endif %}

                <div class="rounded-md shadow-sm -space-y-px">
                    <div>
                        <label for="id_username" class="sr-only">Usuario</label>
                        <input id="id_username" name="username" type="text" autocomplete="username" required 
                               class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" 
                               placeholder="Nombre de usuario">
                    </div>
                    <div>
                        <label for="id_password" class="sr-only">Contraseña</label>
                        <input id="id_password" name="password" type="password" autocomplete="current-password" required 
                               class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" 
                               placeholder="Contraseña">
                    </div>
                </div>               
                <div>
                    <button type="submit" 
                            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                        Ingresar
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>